@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Tangerine);

body {
  margin-top: 10px;
  min-width: 750px;
  max-width: 850px;
  margin: auto;
}

#jumbo {
  padding-top: 20px;
}

#name {
  font-family: "Tangerine","Raleway","Helvetica Neue", Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 27px;
}

h2 {
  font-family: "Raleway","Quicksand";
  font-weight: normal;
  line-height: 25px;
  font-size: 22px;
}

li{
  font-size: 16px;
}

.thumbnail {
  width: 600px;
  margin: auto;
}

#top {
  width: 650px;
  margin: 0 auto;
}

#content {
  margin-top: 10px;
  border-radius: 10px;
  width: 650px;
  margin: 0 auto;
}

img, .thumbnail {
  border-radius: 10px;
}

blockquote {
  font-size: 15px;
}

#quote {
  font-size: 18px;
}
